/* this document will demonstrate flexbox for fitting elements on a 
page.*/

.header-main {
    /* 
    in the main container the display being set as flex means we can use the flex functionality,
    flex-direction controls where the elements get stacked from.
    flex-wrap controls whether there's some wrapping around of elements,
    justify-conttent controls where within the container the elemenets are placed.
    we can use the %'s for the dimensions of the elements to fit them nicely into the container.
    */
    width: 100%;
    height:1000px;
    background-color: black;

    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:0% 0%;
}
.header-main div {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*
    the following lines
    justify-content:center; // means horizontal centering
    align-items:center;  // means vertical centering
    gives us perfect centering within the diivs
    */
    justify-content: center;
    align-items: center;
    gap: 50px 50px;
    

}
.header-main .div-1 {
    width: 50%;
    background-color: darkgreen;
}
.header-main .div-2 {
    width: 50%;
    background-color: pink;
}
.header-main .div-3 {
    width: 100%;
    background-color: blue;
}