body {
    background-color: #1e1e1e;
}
/*the following code allows us to preload an image to avoid the flicker*/

body:after {
    content:url(../images/linkedin.jpg) url(../images/github.jpg);
    position:absolute;width: 0;height: 0;overflow: hidden;z-index:-1;

}




/* pointer makes links look better */
a {
    cursor: pointer;
}
.header-main {
    /* position being fixed allows the nav bar to stay on the page even as we zoom */
    position:fixed;
    top:0;

    width: 100%;
    height: 60px;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;

}
.header-main-logo img {
    height: 60px;
    margin-right: 20px;
}
.header-main-nav {

    width: fit-content;
    height: 100%;
    display: flex;

}

/* we need to target each list item */
.header-main-nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;

}
/* we need to target each list item */
.header-main-nav ul li {
    display: inline;
    /* gives us the space inbetween the list elements */
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#1e1e1e;
    height: 100%;
    align-items: center;
    /* might need to change the size of text */
}
.header-main-nav ul li a {
    color:#1e1e1e;
    display: flex;
    height: 100%;
    align-items: center;
}
.header-main-nav ul li a:hover {
    color:blue;
}


.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right:60px;
    display: flex;
    align-items: center;
    column-gap: 10px;



}
/* logos start out black and white but will load coloured if 
the mouse hovers over it */
.header-main-sm-in {
    height: 30px;
    width: 30px;
    background-image:url(../images/linkedin_bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-in:hover {
    background-image:url(../images/linkedin.jpg);
}
.header-main-sm-gh {
    height: 30px;
    width: 30px;
    background-image:url(../images/github_bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-gh:hover {
    background-image:url(../images/github.jpg);
}

.box1 {
    width: 100px;
    height: 200%;
    color: red;
}