/* 
-we use a selector which points to an HTML element

-then the declaration block is in the form:

property:value

-All declarations are selarated by ';' 

-The set of declarations for a selector are put in:

{...}

- The final form is:

seletor {proterty1:value1; property2:value2; .... ; propertyn:valuen

*/

body {
    background-color: #1e1e1e;
}
p {color:red;
    font-size:12px;
    text-align:center
}

section p {
    color:blueviolet;
    text-align: center;
}

/* 
we can select multiple elements with the ',' between different 
selectors
*/
h1, h2 {color:blue;
    text-align:center
}


/* There's the universal selector '*' which selects all elements*/
/* The document is read from top to bottom so other elements can be overwritten*/

p, h1, h2 , * {
    text-align:center;
    color:blue

}

/* the '#' before the identifier allows us to use an identifier by id*/
#paragraph1 {
    color:chartreuse
}

/* 
The '.' before the identifier allows us to use an identifier by class.
It is recommended to use class when using style for multiple elements and id
for a unique identifier (mainly for JS DOM manipulation).
*/

.paragraph2 {
    color:violet;
    /* We can use the font-size property, the px on the end stands for pixels.*/
    font-size: 20px;
    /*fonts*/
    font-family: Arial, Helvetica, sans-serif;
    /*boldness of the font*/
    font-weight: 100;
    /*concrete font style*/
    font-style: italic;
    /*alignment*/
    text-align: left;
    text-decoration:line-through;


}

#aquamarine_box {
    width: 200px;
    height:100px;
    background-color: aquamarine;
    
}