.info-div {
  position: relative;
  width: 72%;
  height: 700px;
  background-color: #ebebeb;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 100px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.info {
  width: 100%;
}
label {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  left: 0;
}
input {
  width: 300px;
  float: right;
  margin-right: 100px;
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #d9d9d9;
}
.wide-input {
  height: 200px;
}
.save-profile {
  width: 200px;
  height: 50px;
  margin: 30px 0;
  position: absolute;
  bottom: 20px;
  right: 40%;
}
